/** {
	outline: 1px solid red;
}
*/
body { 
	margin:0; 
	padding:0; 
}

/* Map */
.mapSimple { 
	position: relative;
	top: -25px;  
	bottom: 0px; 
	width:100%; 
	height: 500px; }

/* Nav */
.navbar {
	background-color: #34495e;
	color: white;
	padding-top: 5px;
}

.navbar a {
	color: white;
}

nav>.active>a {
	background-color: #e74c3c;
}


.btn-success {
	margin-top: 4px;
}

button {
	background-color: #449d44;
}

button.navbar-toggle.collapsed.btn.btn-success {
	background-color: #449d44;
}

.fa-plus-circle {
	margin-right: 5px;
}

.navbar-toggle {
	background-color: #2c3e50;
	border: 1px solid #2c3e50;
}

.navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-toggle .icon-bar+.icon-bar {
	background-color: white;
}

/* Input */
#mainForm {
	background-color: #34495e;
	width: 100%;
	margin: 0;
	margin-top: -25px;
	padding: 25px;
	text-align: center;
	color: white;
}

.input-group {
	margin: 0 auto;
	width: 350px;
}

.input-group span {
	background-color: #2980b9;
	border: 1px solid #2980b9;
	color: white;
}

.input-group span:hover {
	cursor: pointer;
}

/*=== BODY ==== */
.row {
	margin-top: 15px;
}

.col-md-4 {


}

.col-md-4 img {
	width: 100%;
	height: 300px;
	margin: 0;
}

/* ============ SMALLER SCREENS ================ */

@media(max-width:767px){
	button#mainAddBtn {
		display: none;
	}
}